<link href="https://fonts.googleapis.com/css?family=Catamaran:600" rel="stylesheet">

<style>
@font-face {
  font-family: 'Headliner';
  /*src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.svg#icomoon') format('svg'),
    url('icomoon.woff') format('woff'),*/
    url('headliner.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.TickerNews {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.ti_wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 50px;
}

.ti_slide {
  width: 30000px;
  position: relative;
  left: 0;
  top: 0;
}

.ti_content {
  width: 8000px;
  position: relative;
  float: left;
}

.ti_news { float: left; }

.marquee {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #020202;
  font-size:18px;
  margin-bottom:5px;
}
.marquee a {
  color:#F4F3C7;
}

li {
  display: inline;
}
</style>

<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>

<div class="row style1">
  <div class="col-md-12" style=''>
    <p class="col-md-2 site text-center" style ='font-family: "Catamaran"; border:1px solid white; background-color: rgba(9, 34, 70, 0.65);'>
    <span style='font-size:.5em; vertical-align:middle;'>
      <%# num_updates = rand(10..25)%>
      <%#= num_updates %>
      OM<strong>NEWS</strong>ENCE
    </span>
  </p>
    <p class="col-md-3 site text-center" style ='font-family: "Catamaran"; border:1px solid white; background-color: rgb(42, 62, 91);'>
      <span style='font-size:.5em; vertical-align:middle; margin-top:10px'>
      All news. All sources.
      </span>
    </p>
    <p class="col-md-3 site text-center" style ='font-family: "Catamaran"; border:1px solid white; background-color: rgba(9, 34, 70, 0.65);'>
      <span style='font-size:.5em; vertical-align:middle; margin-top:10px'>
        New Articles Today:
        <% articles = [@movies, @mediums, @awwwards, @economists, @vimeos, @deals, @twitters, @nytimes, @googles, @nextwebs, @imgurs, @cnns, @reddits,  @hackernews, @wsjs, @times, @usatodays, @newsweeks, @huffpost, @espns, @foxnews, @buzzfeeds, @washingtonposts] %>
        <% number = 0 %>
        <% articles.each do |a| %>
        <% number += a.past_day.all.count %>
        <% end %>
        <%= number %>
      </span>
    </p>
    <p class="col-md-2 site text-center" style ='font-family: "Catamaran"; border:1px solid white; background-color: rgb(42, 62, 91);'>
    <span style='font-size:.3em; vertical-align:middle;'>
      <%# num_updates = rand(10..25)%>
      <%#= num_updates %>
        <%= Time.now.strftime('%B %d, %Y') %>
      <!-- OM<strong>NEWS</strong>ENCE -->
    </span>
  </p>
  <p class="col-md-2 site text-center" style ='font-family: "Catamaran"; border:1px solid white; background-color: rgba(9, 34, 70, 0.65);'>
    <span style='font-size:.5em; vertical-align:middle; margin-top:10px'>
    Email
    </span>
  </p>
    <div class="marquee">
      <%@newyorktimes.past_day.all.each do |a|%>
        <% if !a.title.include?('Comments') %>
          <a href='<%=a.url%>'><%=a.title.upcase.truncate_words(20, omission: '...') rescue nil%>
          </a>
        <%end%>
      <%end%>
    </div>

    <script>
    $('.marquee').marquee({
      //speed in milliseconds of the marquee
      duration: 15000,
      startVisible: true,
      pauseOnHover: false
    });
    </script>
      <%# newsweek_offset = rand(Newsweek.past_day.count) %>
      <%# nw_rand_record = Newsweek.offset(newsweek_offset).first %>
      <%# nw_rand_record %>
      <%# Newsweek.find(Newsweek.pluck(:id).sample) do |b| %>
      <% @array = [Newsweek.past_day.order("RANDOM()").limit(1).first, Usatoday.past_day.order("RANDOM()").limit(1).first, Newyorktime.past_day.order("RANDOM()").limit(1).first] %>
      <%# @a = Newsweek.past_day.order("RANDOM()").limit(1).first %>
      <% @a = @newsapis.sample %>
      <div class='col-md-8'>
      <a href='<%=@a.url rescue nil%>'>
        <div class="image" style=' width: 100%;
        height: 450px;
    overflow: hidden;'>
         <img src="<%=@a.image rescue nil%>" style="
          width: 100%;
          height: 550px;
          margin: -75px 0px 0px 00px;">
         <h2 class="headline_text" style="width: 400px">
           <span style="color: #FFCE00;
                          text-align:center;
                          letter-spacing: -1px;
                          background: rgb(0, 0, 0); /* fallback color */
                          background: rgba(0, 0, 0, 0.7);">
             <%=@a.title.truncate_words(20, omission: '...') rescue nil%>
             <img src=
             <% if @a.url.include?('newsweek') %>
               <%='https://s-media-cache-ak0.pinimg.com/originals/1c/e2/be/1ce2be6b9943ca34f16d919ce3059f83.jpg' %>
             <% elsif @a.url.include?('economist') %>
               <%='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif' %>
             <% elsif @a.url.include?('wsj') %>
               <%='http://graphics.wsj.com/billion-dollar-club/img/wsj.png'%>
             <% elsif @a.url.include?('time') %>
               <%='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'%>
             <% elsif @a.url.include?('cnn') %>
               <%='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png' %>
             <% elsif @a.url.include?('usatoday') %>
               <%='https://lh3.googleusercontent.com/2i2GvT7d5CxbPh9edK9PJXZDgLKsisFrAfRj90MubTAgY6EFRk0gAjGb1iIP4poB-k0=w300' %>
             <% end %> style="width:100px">
           </span>
         </h2>
       </div> </a>
           </div>
      <%# end %>


<ul class="newsticker col-md-4" >
  <% @b = @newsapis.sample %>
  <%# @nytimes.past_day.first(1).each do |a| %>

  <li class="col-md-12" style="background:url('<%=@b.image%>');  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: 0% 0%;height:150px;padding-top: 35px;text-align:center; border:2px solid red">

      <a href='<%=@b.url%>'>  <span style="margin-top: 10px; font-size:1.5em; height:1px; text-align:center; color: #FFCE00;
                     text-align:center;
                     letter-spacing: -1px;
                     background: rgb(0, 0, 0); /* fallback color */
                     background: rgba(0, 0, 0, 0.7);"><%= @b.title %></span>
                     <img src=<% if @b.url.include?('newsweek') %>
                       <%='https://s-media-cache-ak0.pinimg.com/originals/1c/e2/be/1ce2be6b9943ca34f16d919ce3059f83.jpg' %>
                     <% elsif @b.url.include?('economist') %>
                       <%='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif' %>
                     <% elsif @b.url.include?('wsj') %>
                       <%='http://graphics.wsj.com/billion-dollar-club/img/wsj.png'%>
                     <% elsif @b.url.include?('time') %>
                       <%='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'%>
                     <% elsif @b.url.include?('cnn') %>
                       <%='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png' %>
                     <% elsif @b.url.include?('usatoday') %>
                       <%='https://lh3.googleusercontent.com/2i2GvT7d5CxbPh9edK9PJXZDgLKsisFrAfRj90MubTAgY6EFRk0gAjGb1iIP4poB-k0=w300' %>
                     <% end %>
                           style='width:65px; margin-top:0px'> </a>
      <%# end %>

  </li>
  <%# @foxnews.past_day.first(1).each do |a| %>
  <% @c = @newsapis.sample %>
  <li class="col-md-12" style="background:url('<%=@c.image%>');  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: 0% 0%;height:150px;padding-top: 35px;text-align:center; border:2px solid green">
  <a href='<%=@c.url%>'>  <span style="margin-top: 10px; font-size:1.5em; height:1px; color: #FFCE00;
                 text-align:center;
                 letter-spacing: -1px;
                 background: rgb(0, 0, 0); /* fallback color */
                 background: rgba(0, 0, 0, 0.7);"><%= @c.title %>              <img src=
                 <% if @c.url.include?('newsweek') %>
                   <%='https://s-media-cache-ak0.pinimg.com/originals/1c/e2/be/1ce2be6b9943ca34f16d919ce3059f83.jpg' %>
                 <% elsif @c.url.include?('economist') %>
                   <%='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif' %>
                 <% elsif @c.url.include?('wsj') %>
                   <%='http://graphics.wsj.com/billion-dollar-club/img/wsj.png'%>
                 <% elsif @c.url.include?('time') %>
                   <%='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'%>
                 <% elsif @c.url.include?('cnn') %>
                   <%='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png' %>
                 <% elsif @c.url.include?('usatoday') %>
                   <%='https://lh3.googleusercontent.com/2i2GvT7d5CxbPh9edK9PJXZDgLKsisFrAfRj90MubTAgY6EFRk0gAjGb1iIP4poB-k0=w300' %>
                 <% end %>
                       style='width:65px; '>
               </span>
               </a>
  <%# end %>
  </li>
  <% @d = @newsapis.sample %>
  <li class="col-md-12" style="background:url('<%=@d.image%>');   background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: 0% 0%;height:150px;padding-top: 35px;text-align:center; border:2px solid blue">

      <%# @buzzfeeds.past_day.last(1).each do |a| %>
      <a href='<%=@d.url%>'>  <span style="margin-top: 10px; font-size:1.5em; height:1px; color: #FFCE00;
                     text-align:center;
                     letter-spacing: -1px;
                     background: rgb(0, 0, 0); /* fallback color */
                     background: rgba(0, 0, 0, 0.7);"><%= @d.title %>         <img src=
                     <% if @d.url.include?('newsweek') %>
                       <%='https://s-media-cache-ak0.pinimg.com/originals/1c/e2/be/1ce2be6b9943ca34f16d919ce3059f83.jpg' %>
                     <% elsif @d.url.include?('economist') %>
                       <%='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif' %>
                     <% elsif @d.url.include?('wsj') %>
                       <%='http://graphics.wsj.com/billion-dollar-club/img/wsj.png'%>
                     <% elsif @d.url.include?('time') %>
                       <%='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'%>
                     <% elsif @d.url.include?('cnn') %>
                       <%='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png' %>
                     <% elsif @d.url.include?('usatoday') %>
                       <%='https://lh3.googleusercontent.com/2i2GvT7d5CxbPh9edK9PJXZDgLKsisFrAfRj90MubTAgY6EFRk0gAjGb1iIP4poB-k0=w300' %>
                     <% end %>
                              style='width:65px;'>
                   </span>
                   </a>
      <%# end %>
  </li>
  <% @e = @newsapis.sample %>
  <li class="col-md-12" style="background:url('<%=@e.image%>');  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: 0% 0%;height:150px;padding-top: 35px;text-align:center; border:2px solid blue">

      <%# @awwwards.last(1).each do |a| %>
      <a href='<%=@e.url%>'>  <span style="margin-top: 10px; font-size:1.5em; height:1px; color: #FFCE00;
                     text-align:center;
                     letter-spacing: -1px;
                     background: rgb(0, 0, 0); /* fallback color */
                     background: rgba(0, 0, 0, 0.7);"><%= @e.title %>         <img src=
                     <% if @e.url.include?('newsweek') %>
                       <%='https://s-media-cache-ak0.pinimg.com/originals/1c/e2/be/1ce2be6b9943ca34f16d919ce3059f83.jpg' %>
                     <% elsif @e.url.include?('economist') %>
                       <%='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif' %>
                     <% elsif @e.url.include?('wsj') %>
                       <%='http://graphics.wsj.com/billion-dollar-club/img/wsj.png'%>
                     <% elsif @e.url.include?('time') %>
                       <%='http://www.timeinc.com/wp-content/uploads/2014/04/time_logo.png'%>
                     <% elsif @e.url.include?('cnn') %>
                       <%='https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Cnn.svg/2000px-Cnn.svg.png' %>
                     <% elsif @e.url.include?('usatoday') %>
                       <%='https://lh3.googleusercontent.com/2i2GvT7d5CxbPh9edK9PJXZDgLKsisFrAfRj90MubTAgY6EFRk0gAjGb1iIP4poB-k0=w300' %>
                     <% end %>
                              style='width:65px;'>
                   </span>
                   </a>
      <%# end %>

  </li>
  </ul>
<!--
    <p style="font-size:.9em; text-align:center">

      <% @mediums.past_day.last(1).each do |a| %>
      <a href='<%=a.url%>'>  <span style="font-size:.8em; height:1px;"><%= a.title %></span> </a> |
      <% end %>

      <% @economists.past_day.last(1).each do |a| %>
      <a href='<%=a.url%>'>  <span style="font-size:.8em; height:1px;"><%= a.title %></span> </a> |
      <% end %>
      <% @reddits.past_day.last(1).each do |a| %>
      <a href='<%=a.url%>'>  <span style="font-size:.8em; height:1px;"><%= a.title %></span> </a> |
      <% end %>
    </p> -->
  </div>
</div>

<script>
(function($, window, document, undefined) {
    'use strict';
    var pluginName = 'newsTicker',
            defaults = {
                    row_height: 150,
                    max_rows: 3,
                    speed: 1000,
                    duration: 5500,
                    direction: 'up',
                    autostart: 1,
                    pauseOnHover: 1,
                    nextButton: null,
                    prevButton: null,
                    startButton: null,
                    stopButton: null,
                    hasMoved: function() {},
                    movingUp: function() {},
                    movingDown: function() {},
                    start: function() {},
                    stop: function() {},
                    pause: function() {},
                    unpause: function() {}
            };

    function Plugin(element, options) {
            this.element = element;
            this.$el = $(element);
            this.options = $.extend({}, defaults, options);
            this._defaults = defaults;
            this._name = pluginName;
            this.moveInterval;
            this.state = 0;
            this.paused = 0;
            this.moving = 0;
            if (this.$el.is('ul, ol')) {
                    this.init();
            }
    }

    Plugin.prototype = {
            init: function() {
                    this.$el.height(this.options.row_height * this.options.max_rows)
                            .css({overflow : 'hidden'});

                    this.checkSpeed();

                    if(this.options.nextButton && typeof(this.options.nextButton[0]) !== 'undefined')
                            this.options.nextButton.click(function(e) {
                                    this.moveNext();
                                    this.resetInterval();
                            }.bind(this));
                    if(this.options.prevButton && typeof(this.options.prevButton[0]) !== 'undefined')
                            this.options.prevButton.click(function(e) {
                                    this.movePrev();
                                    this.resetInterval();
                            }.bind(this));
                    if(this.options.stopButton && typeof(this.options.stopButton[0]) !== 'undefined')
                            this.options.stopButton.click(function(e) {
                                    this.stop()
                            }.bind(this));
                    if(this.options.startButton && typeof(this.options.startButton[0]) !== 'undefined')
                            this.options.startButton.click(function(e) {
                                    this.start()
                            }.bind(this));

                    if(this.options.pauseOnHover) {
                            this.$el.hover(function() {
                                    if (this.state)
                                            this.pause();
                            }.bind(this), function() {
                                    if (this.state)
                                            this.unpause();
                            }.bind(this));
                    }

                    if(this.options.autostart)
                            this.start();
            },

            start: function() {
                    if (!this.state) {
                            this.state = 1;
                            this.resetInterval();
                            this.options.start();
                    }
            },

            stop: function() {
                    if (this.state) {
                            clearInterval(this.moveInterval);
                            this.state = 0;
                            this.options.stop();
                    }
            },

            resetInterval: function() {
                    if (this.state) {
                            clearInterval(this.moveInterval);
                            this.moveInterval = setInterval(function() {this.move()}.bind(this), this.options.duration);
                    }
            },

            move: function() {
                     if (!this.paused) this.moveNext();
            },

            moveNext: function() {
                    if (this.options.direction === 'down')
                            this.moveDown();
                    else if (this.options.direction === 'up')
                            this.moveUp();
            },

            movePrev: function() {
                    if (this.options.direction === 'down')
                            this.moveUp();
                    else if (this.options.direction === 'up')
                            this.moveDown();
            },

            pause: function() {
                    if (!this.paused) this.paused = 1;
                    this.options.pause();
            },

            unpause: function() {
                    if (this.paused) this.paused = 0;
                    this.options.unpause();
            },

            moveDown: function() {
                    if (!this.moving) {
                            this.moving = 1;
                            this.options.movingDown();
                            this.$el.children('li:last').detach().prependTo(this.$el).css('marginTop', '-' + this.options.row_height + 'px')
                                    .animate({marginTop: '0px'}, this.options.speed, function(){
                                            this.moving = 0;
                                            this.options.hasMoved();
                                    }.bind(this));
                    }
            },

            moveUp: function() {
                    if (!this.moving) {
                            this.moving = 1;
                            this.options.movingUp();
                            var element = this.$el.children('li:first');
                            element.animate({marginTop: '-' + this.options.row_height + 'px'}, this.options.speed,
                                    function(){
                                            element.detach().css('marginTop', '0').appendTo(this.$el);
                                            this.moving = 0;
                                            this.options.hasMoved();
                                    }.bind(this));
                    }
            },

            updateOption: function(option, value) {
                    if (typeof(this.options[option]) !== 'undefined'){
                            this.options[option] = value;
                            if (option == 'duration' || option == 'speed'){
                                this.checkSpeed();
                                this.resetInterval();
                            }
                    }
            },

            add: function(content){
                this.$el.append($('<li>').html(content));
            },

            getState: function() {
                    if (paused) return 2 // 2 = paused
                    else return this.state;// 0 = stopped, 1 = started
            },

            checkSpeed: function() {
                    if (this.options.duration < (this.options.speed + 25))
                            this.options.speed = this.options.duration - 25;
            },

            destroy: function() {
                    this._destroy(); // or this.delete; depends on jQuery version
            }
    };

    $.fn[pluginName] = function(option) {
            var args = arguments;

            return this.each(function() {
                    var $this = $(this),
                            data = $.data(this, 'plugin_' + pluginName),
                            options = typeof option === 'object' && option;
                    if (!data) {
                            $this.data('plugin_' + pluginName, (data = new Plugin(this, options)));
                    }
                    // if first argument is a string, call silimarly named function
                    if (typeof option === 'string') {
                            data[option].apply(data, Array.prototype.slice.call(args, 1));
                    }
            });
    };
})(jQuery, window, document);
</script>

<script>
$('.newsticker').newsTicker();
</script>
