    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script>
    // JavaScript
    window.sr = ScrollReveal();

    </script>
<div class="row style2" id="fox_news">
  <div class="col-md-12">
    <p class="site">
      <img src='http://commonwealthmagazine.org/wp-content/uploads/sites/2/2015/12/fox-news-logo.png'
      style='width:235px; margin-top:100px'><br>
      Latest News</p>
      <h1>  <a href='<%=@foxnews.past_day[0].url%>'><%= @foxnews.past_day[0].title%></h1>
      <div class="col-md-4" id="barContainer">
        <h3><a href='<%=@foxnews.past_day[1].url%>'><%= @foxnews.past_day[1].title%></h3>
        <p style="font-size:1em;">
          <% @foxnews.past_day[10..20].each do |a| %>
          <a href='<%=a.url%>' class='bar'>  <%= a.title %> </a><br>
          <% end %>
        </p>
        <h3><a href='<%=@foxnews.past_day[5].url%>'><%= @foxnews.past_day[5].title%></h3>
      </div>
      <div class="col-md-4">
        <h3><a href='<%=@foxnews.past_day[2].url%>'><%= @foxnews.past_day[2].title%></h3>
        <p style="font-size:1em;">
          <% @foxnews.past_day[21..30].each do |a| %>
          <a href='<%=a.url%>'>  <%= a.title %> </a><br>
          <% end %>
        </p>
        <h3><a href='<%=@foxnews.past_day[6].url%>'><%= @foxnews.past_day[6].title%></h3>
      </div>
      <div class="col-md-4">
        <h3><a href='<%=@foxnews.past_day[3].url%>'><%= @foxnews.past_day[3].title%></h3>
        <p style="font-size:1em;">
          <% @foxnews.past_day[31..40].each do |a| %>
          <a href='<%=a.url%>'>  <%= a.title %> </a><br>
          <% end %>
        </p>
        <h3><a href='<%=@foxnews.past_day[7].url%>'><%= @foxnews.past_day[7].title%></h3>
      </div>
  </div>
</div>

<script>
  sr.reveal('.bar', { container: '#barContainer' });
  // sr.reveal('.fooReveal');
</script>
