<style>
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400, 400italic|Montserrat:400, 700);
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content:"";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
}
h1 {
    font-family:"Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: .5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul li {
    line-height: 2;
    font-weight: bold;
    font-family:"Montserrat", sans-serif;
    font-size: .85em;
    text-transform: uppercase;
    clear: both;
}
ul li:before {
    content:"\2023";
    padding: 0 1em 0 0;
}
.bar {
    background: #e74c3c;
    width: 0;
    margin: .25em 0;
    color: #fff;
    position: relative;
    transition: width 2s, background .2s;
    clear: both;
}
.bar:nth-of-type(2n) {
    background: #ed7669;
}
.bar .label {
    font-size: .75em;
    padding: 1em;
    background: #3d3d3d;
    width: 8em;
    display: inline-block;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family:"Montserrat", sans-serif;
}
.bar .label.light {
    background: #575757;
}
.count {
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: bold;
    font-family:"Montserrat", sans-serif;
}
body{

  height: 100%;
}

#container{
  margin: 0 auto;
  padding-top: 2%;
}
</style>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script>
$(function () {
  Highcharts.setOptions({
    colors: ['#67BCE6'],
    chart: {
        style: {
            fontFamily: 'sans-serif',
            color: '#fff'
        }
    }
});
  $('#container').highcharts({
        chart: {
            type: 'column',
            backgroundColor: '#262228'
        },
        title: {
            text: '',
            style: {
              color: '#fff'
            }
        },
        xAxis: {
            tickWidth: 0,
            labels: {
              style: {
                  color: '#fff',
                 }
              },
            categories: ['<%= (@googles.past_day.order("id DESC").offset(19).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(18).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(17).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(16).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(15).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(14).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(13).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(12).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(11).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(10).first.title rescue nil) %>', '<%= (@googles.past_day.order("id DESC").offset(9).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(8).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(7).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(6).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(5).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(4).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(3).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(2).first.title rescue nil) %>', '<%= (@googles.order("id DESC").offset(1).first.title rescue nil) %>', '<%= (@googles.order("id DESC").first.title rescue nil) %>']
        },
        yAxis: {
           gridLineWidth: .5,
		      gridLineDashStyle: 'dash',
		      gridLineColor: 'black',
           title: {
                text: '',
                style: {
                  color: '#fff'
                 }
            },
            labels: {
              formatter: function() {
                        return ''+Highcharts.numberFormat(this.value, 0, '', ',');
                    },
              style: {
                  color: '#fff',
                 }
              }
            },
        legend: {
            enabled: false,
        },
        credits: {
            enabled: false
        },
        tooltip: {
           valuePrefix: ''
        },
        plotOptions: {
		      column: {
			      borderRadius: 2,
             pointPadding: 0,
			      groupPadding: 0.1
            }
		    },
        series: [{
            name: 'Searches',
            // data: [<%= @googles.last(9).map { |google| google.search.chop.gsub(/[\s,]/ ,"").to_i} %>]

            data: [<%= @googles.order("id DESC").offset(19).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(18).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(17).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(16).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(15).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(14).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(13).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(12).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(11).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(10).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(9).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(8).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(7).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(6).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(5).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(4).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(3).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(2).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").offset(1).first.search.chop.gsub(/[\s,]/ ,"") %>, <%= @googles.order("id DESC").first.search.chop.gsub(/[\s,]/ ,"") %>]
        }]
    });
});
</script>
<div class="row style3">
  <div class="col-md-12">
    <p class="site">
      <img src='https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png'
      style='width:195px; margin-top:0px'><br>
      Trending Searches</p>

<div id="container" style="width:80%; height:400px;"></div>


  </div>
</div>
