<div class="row style2" id="ny_times">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png'
      style='width:435px; margin-top:10px'><br>
    </p>
    </div>

    <div class="col-md-4">
      <p style="font-size:1em; text-align:center">
          <% @nytimes.past_day[0..Nytime.third_count].each do |a|  %>
          <%# @nytimes.past_day.each do |a| %>
          <a href='<%=a.url%>'>  <%= a.title %> </a>
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <p style="font-size:1em; text-align:center">
          <% @nytimes.past_day[Nytime.third_count..Nytime.third_count_2].each do |a|  %>
          <%# @nytimes.past_day.each do |a| %>
          <a href='<%=a.url%>'>  <%= a.title %> </a>
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <p style="font-size:1em; text-align:center">
          <% @nytimes.past_day[Nytime.third_count_2..Nytime.third_count_3].each do |a|  %>
          <%# @nytimes.past_day.each do |a| %>
          <a href='<%=a.url%>'>  <%= a.title %> </a>
        <% end %>
      </p>
    </div>
</div>
