<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<script src="https://cdn.rawgit.com/mightyCrow/dont-go/master/lib/dont-go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js">
</script>
<style>
body {
    font-family: Verdana;
}

.active {
    background: #555;
    color: #f3f3f3;
}
</style>
<script>
dontGo({
    title: 'Miss you!',
    faviconSrc: 'path/to/Alternative/favicon.ico',
    timeout: 5000 //5 seconds
});
</script>

<link href="https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield" rel="stylesheet">
<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" style="background-color:black; border-bottom: 2px solid rgba(128, 128, 128, 0.38)">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">OM<b>NEWS</b>ENCE</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">News<span class="sr-only">(current)</span></a></li>
      <li><a href="#">Tech</a></li>
      <li><a href="#">Arts</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Shopping</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
  </div>
  </div>
  </nav>
<div class="row">
  <div class='col-md-12' style="width:100%">
</div>


  <div id="col2" class="col-md-12 sec">

    <!-- OVERVIEW -->
  <%= render 'abovefold' %>
  <%= render 'belowfold' %>
  <%#= render 'snapshot' %>
  <section id="#">
    <%= render 'foxnews' %>
  </section>
    <!-- MEDIA -->
  <section id="#">
  <%#= render 'cnn' %>
  </section>
  <section id="#">
  <%#= render 'reddit' %>
  </section>
  <section id="#">
    <%#= render 'economist2' %>
  </section>
  <section id="#">
    <%#= render 'hackernews' %>
  </section>
  <section id="#">
    <%#= render 'wsj' %>
  </section>
  <section id="#">
    <%#= render 'time' %>
  </section>
  <section id="#">
    <%#= render 'usatoday' %>
  </section>
  <section id="#">
    <%#= render 'newsweek' %>
  </section>
  <section id="#">
    <%= render 'nytimes2' %>
  </section>
  <section id="#">
    <%= render 'huffpost' %>
  </section>
  <section id="#">
    <%= render 'cnn2' %>
  </section>
  <section id="#">
    <%= render 'espn' %>
  </section>
  <section id="#">
    <%= render 'buzzfeed' %>
  </section>
  <section id="#">
    <%= render 'washingtonpost' %>
  </section>
  <section id="#">
    <%= render 'drudge' %>
  </section>
  <section id="menu1">
  <%#= render 'movies' %>
  </section>
  <section id="menu2">
  <%#= render 'vimeo' %>
  </section>
    <!-- TECH -->
  <section id="menu3">
  <%#= render 'medium' %>
  </section>
  <section id="menu4">
  <%#= render 'awwward' %>
  </section>
  <%#= render 'nextweb' %>
    <!-- TRENDING -->
  <section id="menu5">
  <%#= render 'imgur' %>
  </section>
  <section id="menu6">
  <%#= render 'google' %>
  </section>
  <section id="menu7">
  <%#= render 'twitter' %>
  </section>
    <!-- NEWS -->
  <section id="menu8">
  <%#= render 'nytimes' %>
  </section>
  <section id="menu9">
  <%#= render 'economist' %>
  </section>
  <!-- hacker news would be cool
  product hunt cool -->
  <%#= render 'amazon' %>

</div> <!-- end div col-md-9 -->
<br><br>
</div> <!-- end container-fluid -->



</div>
