<style>
.site {
text-align:center; margin-bottom:0px; font-size:1.2em
}
</style>
<div class="row">
  <div class='col-md-12' style="width:100%">
    <p style="text-align:center; margin-bottom:0px">Today is
      <%= Time.now.strftime("%m/%d/%Y") %>
    </p>
    <p style="text-align:center; font-size:.8em">Updated Daily</p>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
    <p class="site">Top Rated Movies</p>
    <p style="font-size:.9em; text-align:center">
      <% @movies.each do |m| %>
    <a href='<%=m.url%>'>  <%= m.title %></a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="site">Medium Most Read</p>
    <p style="font-size:.9em; text-align:center">
      <% @mediums.each do |m| %>
      <a href='<%=m.url%>'>  <%= m.title %></a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="site">Awwward of Day</p>
    <p style="font-size:.9em; text-align:center">
      <% @awwwards.each do |a| %>
      <a href='<%=a.url%>'>  <%= a.title %></a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="site">Deal of Day</p>
    <p style="font-size:.9em; text-align:center">
      <#% @deals.each do |d| %>
      <a href='<%#=d.url%>'>  <%#= d.title %></a> $<%#= d.price %> <%#= d.discount%>% off |
      <#% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="site">Latest Economist</p>
    <p style="font-size:.9em; text-align:center">
      <% @economists.each do |a| %>
      <a href='<%=a.url%>'>  <%= a.title %> - <%= a.subtitle %> </a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="site">Best of Vimeo</p>
    <p style="font-size:.7em; text-align:center">
      <% @vimeos[0..11].each do |a| %>
      <div class="col-md-2">
        <a href='<%=a.url%>'>
          <img src='<%= a.picture %>'><br>
          <div style="width:100%; text-align:center; line-height:1; margin-bottom:10px">
            <span style="font-size:.8em"><%= a.title %></span>
          </div>
        </a>
      </div>
      <% end %>
    </p>
  </div>
</div>
<br><br>




<div class="row">
<iframe scrolling="no" style="border:none;" width="250" height="413" src="https://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=10&amp;h=413"></iframe>
</div>


</div>
