<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<style>
.site {
text-align:center; margin-bottom:0px; font-size:1.2em
}
.style1 {
  background:#0375B4; color:white; font-family: "Cabin"; padding:20px;
}
.style1 a {
  color:#FFCE00;
}
.style2 {
  background:#007849; color:white; font-family: 'Cabin'; padding:20px;
}
.style2 a {
  color:#FFCE00;
}
.style3 {
  background:#262228; color:white; font-family: 'Cabin'; padding:20px;
}
.style3 a {
  color:#FFCE00;
}
</style>
<script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js">
</script>
<div class="container-fluid">
<div class="row">
  <div class='col-md-12' style="width:100%">
</div>

<!-- <div class="row"> -->
<div class="col-md-3" style="position:relative;">
  <div id='#sidebar' style="position:fixed;
    z-index:1;
    background-color:#FFCE00;
    width:25%;
    top:0;
    left:0;
    bottom:0;
    border-right:2px solid black;">
  <span style="text-align:center; margin-top:-50px"><br><br>
    <p style="font-size:2.2em; text-align:center; font-family: 'Arvo', serif; margin-bottom:25px">BOEGROVE</p>
    <!-- <span style="margin-top:10px">Weaving Spiders Come Here</span> -->
    <span style="text-align:center">
      <p style="text-align:center; margin-top:-20px"><img style="width:200px;" src="http://s13.postimg.org/t9fropdxz/owllogo.png">
    </span></p>
  </span>
  <p style="text-align:center; font-family: 'Arvo', serif; margin-top:0px">
    Today is
    <%= Time.now.strftime("%m/%d/%Y") %>
  </p>
  <p style="text-align:center; font-size:.8em; font-family: 'Cabin', sans-serif;">
    Updated Daily
  </p>
</div>
</div>
  <div class="col-md-9">
    <div class="row style1" style='margin-top:0px'>
    <div class="col-md-12">
      <p class="site">
        <img src='https://d2a5cgar23scu2.cloudfront.net/static/images/icons/cf-lg.png'
        style='width:50px; margin-top:0px'><br>
        Top Rated Movies
      </p>
      <p style="font-size:.9em; text-align:center;">
        <% @movies.each do |m| %>
      <a href='<%=m.url%>' style="color:#FFCE00">  <%= m.title %></a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style2" style="">
    <div class="col-md-12">
      <p class="site">
        <img src='http://www.digitalartsonline.co.uk/cmsdata/features/3626921/medium-m-color-688.png'
        style='width:50px; margin-top:0px'><br>
        Medium Most Read</p>
      <p style="font-size:.9em; text-align:center">
        <% @mediums.each do |m| %>
        <a href='<%=m.url%>' style="color:#FFCE00">  <%= m.title %></a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style3" style="">
    <div class="col-md-12">
      <p class="site">
        <img src='http://www.eqtr.com/media/557763/awwwards2.png'
        style='width:50px; margin-top:0px'><br>
        Awwward of Day</p>
      <p style="font-size:.9em; text-align:center">
        <% @awwwards.each do |a| %>
        <a href='<%=a.url%>' style="color:#FFCE00">  <%= a.title %></a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style1">
    <div class="col-md-12">
      <p class="site">
        <img src='http://logonoid.com/images/amazon-logo.png'
        style='width:67px; margin-top:0px'><br>
        Deals of Day</p>
      <p style="font-size:.9em; text-align:center">
        <% @deals[0..5].each do |d| %>
        <div class="col-md-2">
          <a href='<%=d.url%>'>  <%= d.title %></a><br><%= d.price_a %><br> <%= d.discount_a %>
            </div>
        <% end %>

      </p>
    </div>
  </div>
  <div class="row style2">
    <div class="col-md-12">
      <p class="site">
        <img src='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif'
        style='width:75px; margin-top:0px'><br>
        Latest Economist</p>
      <p style="font-size:.9em; text-align:center">
        <% @economists.each do |a| %>
        <a href='<%=a.url%>'>  <%= a.title %> - <%= a.subtitle %> </a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style3">
    <div class="col-md-12">
      <p class="site">
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Vimeo_Logo.svg/2000px-Vimeo_Logo.svg.png'
        style='width:75px; margin-top:0px'><br>
        Best of Vimeo</p>
      <p style="font-size:.7em; text-align:center">
        <% @vimeos[0..11].each do |a| %>
        <div class="col-md-2">
          <a href='<%=a.url%>'>
            <img src='<%= a.picture %>'><br>
            <div style="width:100%; text-align:center; line-height:1; margin-bottom:10px">
              <span style="font-size:.8em"><%= a.title %></span>
            </div>
          </a>
        </div>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style1">
    <div class="col-md-12">
      <p class="site">
        <img src='https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/220px-Twitter_bird_logo_2012.svg.png'
        style='width:45px; margin-top:0px'><br>
        Trending Tweets</p>
      <p style="font-size:.9em; text-align:center">
        <% @twitters.each do |a| %>
        <a href='<%=a.url%>'>  <%= a.hashtag %> </a> |
        <% end %>
      </p>
    </div>
  </div>
</div> <!-- end div col-md-9 -->
<br><br>
</div> <!-- end container-fluid -->


<!--
<div class="row">
<iframe scrolling="no" style="border:none;" width="250" height="413" src="https://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=10&amp;h=413"></iframe>
</div> -->


</div>
