<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">

<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
<script src="https://cdn.rawgit.com/mightyCrow/dont-go/master/lib/dont-go.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
<script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js">
</script>
<style>
body {
    font-family: Verdana;
}
nav {
    position: fixed;
    margin: 20px;
}
nav a {
    background: #fff;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    border: 1px solid #555;
    border-radius: 3px;
    transition: all 0.2s linear;
}
section {
    background: #eee;
    height: 700px;
    border-bottom: 1px solid #ccc;
}
.active {
    background: #555;
    color: #f3f3f3;
}
</style>
<script>
dontGo({
    title: 'Miss you!',
    faviconSrc: 'path/to/Alternative/favicon.ico',
    timeout: 5000 //5 seconds
});
</script>
<script>
$(function() {
  $('section').mouseenter(function() {
    $('nav a[href="#'+$(this).attr('id')+'"]').addClass('active').siblings('nav a').removeClass('active');
  });

  $('nav a').click(function() {
    $(this).addClass('active').siblings('nav a').removeClass('active');
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top + 'px' }, 800, 'linear');


  });

  /* On scroll
  $(document).scroll(function() {
    $('nav a[href="#'+$('section:hover').attr('id')+'"]').addClass('active').siblings('nav a').removeClass('active');
  });
  */
});
</script>
<link href="https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield" rel="stylesheet">
<div class="container-fluid">
<div class="row">
  <div class='col-md-12' style="width:100%">
</div>
<!-- <div class="row"> -->
<div id="col1" class="col-md-3 sec" style="position:relative;">
  <div class="fade-in one sidebar" style="  position:fixed;z-index:1;background-color:#C0B283;transition:1s;top:0;left:0;bottom:0;border-right:2px solid black;">
  <span style="text-align:center; margin-top:-50px"><br><br>
    <p style="font-size:4.2em; text-align:center; font-family: 'Mrs Saint Delafield', cursive; margin-bottom:25px" class='title1'>Snapdaze</p>
    <!-- <span style="margin-top:10px">Weaving Spiders Come Here</span> -->
    <span style="text-align:center">
      <p style="text-align:center; margin-top:-20px"><img style="width:200px;" src="http://s13.postimg.org/t9fropdxz/owllogo.png">
    </span></p>
  </span>
  <script>
  </script>
  <p style="text-align:center; font-family: 'Arvo', serif; margin-top:0px">
    Today is
    <%= Time.now.strftime("%m/%d/%Y") %>
  </p>
  <p style="text-align:center; font-size:.8em; font-family: 'Cabin', sans-serif;">
    Updated Daily
  </p>
  <p style="width:100%;"><br></p>
    <p class="linkii"><a href="#" style="color:white; text-decoration:none">Media</a></p>
    <p class="linkii"><a href="#"  style="color:white; text-decoration:none">Tech</a></p>
    <p class="linkii"><a href="#"  style="color:white; text-decoration:none">News</a></p>
    <br>
    <p><a href="#" class="linkii" style="">Calandar Past Dates</a></p>
    </p>
    <nav>
      <a href="#menu1">medium</a>
      <a href="#menu2">menu 2</a>
      <a href="#menu3">menu 3</a>
      <a href="#menu4">menu 4</a>
    </nav>
</div>
</div>
  <div id="col2" class="col-md-9 sec">

<section id="menu3"></section>
<section id="menu4"></section>
    <!-- OVERVIEW -->
  <%#= render 'snapshot' %>
    <!-- MEDIA -->
  <section id="menu1">
  <%= render 'movies' %>
  </section>
  <section id="menu2">
  <%= render 'vimeo' %>
  </section>
    <!-- TECH -->
  <%= render 'medium' %>
  <%= render 'awwward' %>
  <%#= render 'nextweb' %>
    <!-- TRENDING -->
  <%= render 'imgur' %>
  <%= render 'google' %>
  <%= render 'twitter' %>

    <!-- NEWS -->
  <%= render 'nytimes' %>
  <%= render 'economist' %>
  <!-- hacker news would be cool
  product hunt cool -->
  <%#= render 'amazon' %>

</div> <!-- end div col-md-9 -->
<br><br>
</div> <!-- end container-fluid -->


<!--
<div class="row">
<iframe scrolling="no" style="border:none;" width="250" height="413" src="https://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=10&amp;h=413"></iframe>
</div> -->


</div>
