<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
<script>
// init controller
var controller = new ScrollMagic.Controller();

// create a scene
new ScrollMagic.Scene({
        duration: 100,  // the scene should last for a scroll distance of 100px
        offset: 50      // start this scene after scrolling for 50px
    })
    .setPin("#my-sticky-element") // pins the element for the the scene's duration
    .setClassToggle("#medium", "myclass");
    .addTo(controller); // assign the scene to the controller
</script>
<style>
.site {
text-align:center; margin-bottom:0px; font-size:1.2em
}
.style1 {
  background:#0375B4; color:white; font-family: "Cabin"; padding:20px;
}
.style1 a {
  color:#FFCE00;
}
.style2 {
  background:#007849; color:white; font-family: 'Cabin'; padding:20px;
}
.style2 a {
  color:#FFCE00;
}
.style3 {
  background:#262228; color:white; font-family: 'Cabin'; padding:20px;
}
.style3 a {
  color:#FFCE00;
}
.linkii {
  color:white; text-decoration:none;
}
.linkii:hover {
  width:100%;
  background-color:pink;
}
.list-1 {
  font-size:3em !important;
}
.list-2 {
  font-size:2em !important;
}
.list-3 {
  font-size:1.5em !important;
}
</style>
<script src="https://cdn.rawgit.com/leafo/sticky-kit/v1.1.2/jquery.sticky-kit.min.js">
</script>
<div class="container-fluid">
<div class="row">
  <div class='col-md-12' style="width:100%">
</div>

<!-- <div class="row"> -->
<div class="col-md-3" style="position:relative;">
  <div class="fade-in one" id='#sidebar' style="position:fixed;
    z-index:1;
    background-color:#C0B283;
    width:25%;
    top:0;
    left:0;
    bottom:0;
    border-right:2px solid black;">
  <span style="text-align:center; margin-top:-50px"><br><br>
    <p style="font-size:2.2em; text-align:center; font-family: 'Arvo', serif; margin-bottom:25px">Dailyees</p>
    <!-- <span style="margin-top:10px">Weaving Spiders Come Here</span> -->
    <span style="text-align:center">
      <p style="text-align:center; margin-top:-20px"><img style="width:200px;" src="http://s13.postimg.org/t9fropdxz/owllogo.png">
    </span></p>
  </span>
  <p style="text-align:center; font-family: 'Arvo', serif; margin-top:0px">
    Today is
    <%= Time.now.strftime("%m/%d/%Y") %>
  </p>
  <p style="text-align:center; font-size:.8em; font-family: 'Cabin', sans-serif;">
    Updated Daily
  </p>
  <p style="background-color: #6D7993; width:100%;"><br></p>
    <p><a href="#" class="linkii" style="color:white; text-decoration:none">Media</a></p>
    <p class="linkii"><a href="#"  style="color:white; text-decoration:none">Tech</a></p>
    <p><a href="#" class="linkii" style="">News</a></p>
    </p>
</div>
</div>
  <div class="col-md-9">
    <div class="row style1 fade-in two" style='margin-top:0px'>
    <div class="col-md-12">
      <p class="site">
        <img src='https://d2a5cgar23scu2.cloudfront.net/static/images/icons/cf-lg.png'
        style='width:90px; margin-top:0px'><br>
        Top Rated Movies
      </p>
      <p style="font-size:.9em; text-align:center;">
        <% @movies.last(20).each_with_index do |m, index| %>
      <a href='<%=m.url%>' style="color:#FFCE00" class="list-<%=index+1%>">  <img src="<%=m.poster %>" style="width:150px">
        <% end %>
      </p>
    </div>
  </div>
  <div id="medium" class="row style2 fade-in three" style="">
    <div class="col-md-12">
      <p class="site">
        <img src='http://www.digitalartsonline.co.uk/cmsdata/features/3626921/medium-m-color-688.png'
        style='width:90px; margin-top:0px'>
        Medium Most Read
      </p>
      <p style="font-size:.9em; text-align:center">
        <% @mediums.past_day.each do |m| %>
        <a href='<%=m.url%>' style="color:#FFCE00">  <%= m.title %></a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style3 fade-in four" style="">
    <div class="col-md-12">
      <p class="site">
        <img src='http://www.eqtr.com/media/557763/awwwards2.png'
        style='width:140px; margin-top:0px'><br>
        Site of the Day</p>
      <p style="font-size:.9em; text-align:center">
<style>
.awwward{
  opacity: 1;
  transition: 1s;
  text-decoration: none;
  text-align:center;
}
.awwward:hover {
  opacity: .7;
  transition: 1s;
}
.awwward a {
  text-decoration:none;
}
.awwward a:hover {
  /*background-color:blue;  doesn't work  */
}
</style>
        <% @awwwards.past_day.each_with_index do |a, index| %>
        <div class="col-md-3 awwward">
        <a href='<%=a.url%>' style="color:#FFCE00"> <img src="<%=a.screenshot%>" style="width:100%"> <br><%= a.title %></a></div>
        <% end %>
      </p>
    </div>
  </div>
  <script>
    $( ".awwward:nth-child(7)" ).addClass( "col-md-9" );
  </script>
  <div class="row style1 fade-in four">
    <div class="col-md-12">
      <p class="site">
        <img src='http://logonoid.com/images/amazon-logo.png'
        style='width:140px; margin-top:0px'><br>
        Deals of Day</p>
      <p style="font-size:.9em; text-align:center">
        <% @deals.last(6).each do |d| %>
        <div class="col-md-2">
          <a href='<%=d.url%>'>  <%= d.title %></a><br><%= d.price_a %><br> <%= d.discount_a %>
            </div>
        <% end %>

      </p>
    </div>
  </div>
  <div class="row style2">
    <div class="col-md-12">
      <p class="site">
        <img src='https://korecologic.files.wordpress.com/2014/02/economist-logo.gif'
        style='width:155px; margin-top:0px'><br>
        Latest Economist</p>
      <p style="font-size:.9em; text-align:center">
        <% @economists.past_day.each do |a| %>
        <a href='<%=a.url%>'>  <%= a.title %> - <%= a.subtitle %> </a> |
        <% end %>
      </p>
    </div>
  </div>
  <div class="row style3">
    <div class="col-md-12">
      <p class="site">
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Vimeo_Logo.svg/2000px-Vimeo_Logo.svg.png'
        style='width:135px; margin-top:0px'><br>
        Best of Vimeo</p>
      <p style="font-size:.7em; text-align:center">
        <div class="row">
        <% @vimeos.last(12).each_with_index do |a, index| %>
              <% if index >= 0 && index < 6 %>
              <div class="col-md-4">
              <a href='<%=a.url%>'>
                <img src='<%= a.picture %>'><br>
                <div style="width:100%; text-align:center; line-height:1; margin-bottom:10px">
                <span style="font-size:.8em"><%= a.title %></span>
                </div>
              </a>
            </div>
              <% end %>
        <% end %>
          </div>
          <div class="row">
            <% @vimeos.last(12).each_with_index do |a, index| %>
                <% if index > 5 && index < 12 %>
        <div class="col-md-2">
          <a href='<%=a.url%>'>
            <img src='<%= a.picture %>'><br>
            <div style="width:100%; text-align:center; line-height:1; margin-bottom:10px">
              <span style="font-size:.8em"><%= a.title %></span>
            </div>
          </a>
        </div>

        <% end %>
    <% end %>
    </p>
      </div>
    </div>
  </div>
  <div class="row style1">
    <div class="col-md-12">
      <p class="site">
        <img src='https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/220px-Twitter_bird_logo_2012.svg.png'
        style='width:75px; margin-top:0px'><br>
        Trending</p>
      <p style="font-size:.9em; text-align:center">
        <% @twitters.last(40).each do |a| %>
        <a href='<%=a.url%>'>  <%= a.hashtag %> </a> |
        <% end %>
      </p>
    </div>
  </div>
<div class="row style2">
  <div class="col-md-12">
    <p class="site">
      <img src='https://upload.wikimedia.org/wikipedia/commons/7/77/The_New_York_Times_logo.png'
      style='width:335px; margin-top:0px'><br>
      Latest News</p>
    <p style="font-size:.9em; text-align:center">
      <% @nytimes.past_day.each do |a| %>
      <a href='<%=a.url%>'>  <%= a.title %> </a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row style3">
  <div class="col-md-12">
    <p class="site">
      <img src='https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_284x96dp.png'
      style='width:195px; margin-top:0px'><br>
      Trending Searches</p>
    <p style="font-size:.9em; text-align:center">
      <% @googles.last(20).each do |a| %>
      <a href='<%=a.url%>'>  <%= a.title %> </a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row style1">
  <div class="col-md-12">
    <p class="site">
      <img src='https://lh5.ggpht.com/64N-cwJ14nR3t-0wJ5nRbz2VTo9UC0jj7GKiUnHxOjCzxduSs3_FO2S0CT3gv2RFZChg92XYpw=w300'
      style='width:195px; margin-top:-30px; margin-bottom:-30px'><br>
      Latest Stories</p>
    <p style="font-size:.9em; text-align:center">
      <% @nextwebs.last(20).each do |a| %>
      <a href='<%=a.url%>'>  <%= a.title %> </a> |
      <% end %>
    </p>
  </div>
</div>
<div class="row style2">
  <div class="col-md-12">
    <p class="site" style="margin-bottom:10px">
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Imgur_logo.svg/2000px-Imgur_logo.svg.png'
      style='width:195px; margin-top:0px; margin-bottom:10px'><br>
      Most Viral</p>
    <p style="font-size:.9em; text-align:center">
      <% @imgurs.last(20).each do |a| %>
      <a href='<%=a.url%>'>  <img src='<%= a.image %>'> </a>
      <% end %>
    </p>
  </div>
</div>
</div> <!-- end div col-md-9 -->
<br><br>
</div> <!-- end container-fluid -->


<!--
<div class="row">
<iframe scrolling="no" style="border:none;" width="250" height="413" src="https://www.google.com/trends/hottrends/widget?pn=p1&amp;tn=10&amp;h=413"></iframe>
</div> -->


</div>
