<!DOCTYPE html>
<html>
<head>
  <%= render 'favicon' %>
  <title>SnapDaze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Begin SessionStack code -->
  <script type="text/javascript">
  !function(a,b){var c=window;c.SessionStack=a,c[a]=c[a]||function(){
  c[a].q=c[a].q||[],c[a].q.push(arguments)},c[a].t=b;var d=document.createElement("script");
  d.async=1,d.src="https://cdn.sessionstack.com/sessionstack.js";
  var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(d,e);
  }("sessionstack","2f7eec288a024bdcaee23edacbd570ed");
  </script>
  <!-- End SessionStack Code -->
  <%= csrf_meta_tags %>
</head>
<style>
.header {
  background-color:gray;
}
* {
  font-family: 'Raleway', sans-serif;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<body>
<%= yield %>


</body>
</html>
