<!DOCTYPE html>
<html>
<head>
  <%= render 'favicon' %>
  <title>SnapDaze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<style>
.header {
  background-color:gray;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<body>
<%= yield %>


</body>
</html>
