<!DOCTYPE html>
<html>
<head>
  <%= render 'favicon' %>
  <title>SnapDaze</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
.header {
  background-color:gray;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Arvo|Cabin" rel="stylesheet">
<body>
<%= yield %>


</body>
</html>
